/* Write your CSS here */
.loading-container {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #a4261d 10%, rgb(32 40 57));
}
.teamMatch-Container {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(to bottom, #a4261d 10%, rgb(32 40 57));
}
.teamMatch-main-card {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  position: relative;
}
.teamMatch-main-card button:first-of-type {
  background-color: #00000070;
  cursor: pointer;
  padding: 8px 12px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: 0;
  top: -35px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #000;
    box-shadow: 0 0 2px white;
  }
}
.team-banner-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.latest-match-subpara {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-align: left;
  margin-bottom: 0;
}
/* Latest card style in LatestMatch index.css */
.recent-matches-ul-box {
  width: 100%;
  /* max-width: 800px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 10px;
}
.Background-Colors {
  background-color: #1e293b #a4261d #5755a7 #d91c1f #f7db00 #ffffff33 #da237b
    #13418b #f26d22 #4f5db0 #0f172a;
}
.BorderColors {
  border-color: #ffffff #475569;
}
.Colors {
  color: #ffffff #18ed66 #e31a1a;
}

.pie-container {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  place-items: center;
}
.pie-container h3 {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-shadow: 0 0 20px #ffffff;
  text-align: left;
  margin: 0;
}
